$black: #000;
$white: #fff;
$gray: rgba($black, 0.6);
$gray-light: rgba($black, 0.15);
$red: #f74f4f;
$blue: #4f99f7;

$font-family-header: 'Fugaz One', cursive;
$font-family-body: 'Open Sans', sans-serif;
